################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/HiperNFe/obj
/src/HiperNFe/.vs/HiperNFe
/src/HiperNFe.TestApp/obj
